body{
  // background-color: rgba(223, 51, 223, 0.219);
  background-color: red;
  max-width: 100%;
  padding-top: 0.3em;

  section{
    padding: 0.6em;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
    border-color: rgba(223, 51, 223, 0.767);
    margin: 1em 1em ;
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;

    h4{
      font-weight: bold;
      color: rgb(39, 24, 121);
    }

    .itensCb, .topicoFiltro{
      margin-bottom: 0.2em;
    }
  }
}


