:host {
  body {
    background-color: rgba(221, 140, 153, 0.459);
    height: auto;
    width: 100%;
  }


  .topo {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .pesquiseItem {
      margin-left: 2em;
      margin-top: 2em;
    }

    .iconHomePage {
      cursor: pointer;
    }

    .iconesNavigation {
      .material-icons {
        font-size: 2.5em !important;
      }

      width: 12em;
      display: flex;
      justify-content: space-between;
    }
  }

  .gridMaisCard{
    display: flex;
    // flex-wrap: wrap;
  }


}
